com.misys.portal.client.fcc6062/warcontent/WEB-INF/services/MPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://security.services.mp.misys.com" xmlns:ax29="http://tracer.common.mp.misys.com/xsd" xmlns:ax27="http://security.mp.misys.com/xsd" xmlns:ns="http://security.services.mp.misys.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax23="http://exception.lang.commons.apache.org/xsd" xmlns:ax21="http://security.util.turbine.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax216="http://util.security.mp.misys.com/xsd" xmlns:ax22="http://util.turbine.apache.org/xsd" xmlns:ax219="http://util.java/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax212="http://util.torque.apache.org/xsd" xmlns:ax213="http://adapter.torque.apache.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://security.services.mp.misys.com" xmlns:ax211="http://tracer.common.mp.misys.com/xsd" xmlns:ax215="http://util.torque.apache.org/xsd" xmlns:ax218="http://util.security.mp.misys.com/xsd" xmlns:ax220="http://util.java/xsd" xmlns:ax26="http://security.util.turbine.apache.org/xsd" xmlns:ax28="http://security.mp.misys.com/xsd">
            <xs:import namespace="http://security.util.turbine.apache.org/xsd"/>
            <xs:import namespace="http://security.mp.misys.com/xsd"/>
            <xs:import namespace="http://tracer.common.mp.misys.com/xsd"/>
            <xs:import namespace="http://util.torque.apache.org/xsd"/>
            <xs:import namespace="http://util.security.mp.misys.com/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
	    
            <xs:element name="loginRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                         <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                          <xs:element minOccurs="0" name="company" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="insertProductRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                         <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                          <xs:element minOccurs="0" name="company" nillable="true" type="xs:string"/>
                          <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertProductResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string"/>
                         <xs:element minOccurs="0" name="tnxId" nillable="true" type="xs:string"/>
                          <xs:element minOccurs="0" name="tnxTypeCode" nillable="true" type="xs:string"/>
                           <xs:element minOccurs="0" name="custReference" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="boReference" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

           <xs:element name="downloadReportRequest">
                <xs:complexType>
                    <xs:sequence>
                       	<xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string"/>                          
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadReportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


           <xs:element name="ackDownloadReportRequest">
                <xs:complexType>
                    <xs:sequence>
                       	<xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string"/>                          
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ackDownloadReportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
  </wsdl:types>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:loginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertProductRequest">
    <wsdl:part name="parameters" element="ns:insertProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertProductResponse">
    <wsdl:part name="parameters" element="ns:insertProductResponse">
    </wsdl:part>
  </wsdl:message>    
  <wsdl:message name="downloadReportRequest">
    <wsdl:part name="parameters" element="ns:downloadReportRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadReportResponse">
    <wsdl:part name="parameters" element="ns:downloadReportResponse">
    </wsdl:part>
  </wsdl:message>
   <wsdl:message name="ackDownloadReportRequest">
    <wsdl:part name="parameters" element="ns:ackDownloadReportRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ackDownloadReportResponse">
    <wsdl:part name="parameters" element="ns:ackDownloadReportResponse">
    </wsdl:part>
  </wsdl:message>  
  
  
  <wsdl:portType name="MPServicePortType">
    <wsdl:operation name="login">
      <wsdl:input message="ns:loginRequest" wsaw:Action="urn:loginRequest">
    </wsdl:input>
      <wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertProduct">
      <wsdl:input message="ns:insertProductRequest" wsaw:Action="urn:insertProductRequest">
    </wsdl:input>
      <wsdl:output message="ns:insertProductResponse" wsaw:Action="urn:insertProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadReport">
      <wsdl:input message="ns:downloadReportRequest" wsaw:Action="urn:downloadReportRequest">
    </wsdl:input>
      <wsdl:output message="ns:downloadReportResponse" wsaw:Action="urn:downloadReportResponse">
    </wsdl:output>
    </wsdl:operation>   
     <wsdl:operation name="ackDownloadReport">
      <wsdl:input message="ns:ackDownloadReportRequest" wsaw:Action="urn:ackDownloadReportRequest">
    </wsdl:input>
      <wsdl:output message="ns:ackDownloadReportResponse" wsaw:Action="urn:ackDownloadReportResponse">
    </wsdl:output>
    </wsdl:operation>   
    
    
  </wsdl:portType>
  <wsdl:binding name="MPServiceSoap11Binding" type="ns:MPServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertProduct">
      <soap:operation soapAction="urn:insertProduct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadReport">
      <soap:operation soapAction="urn:downloadReport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ackDownloadReport">
      <soap:operation soapAction="urn:ackDownloadReport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:binding name="MPServiceSoap12Binding" type="ns:MPServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertProduct">
      <soap12:operation soapAction="urn:insertProduct" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadReport">
      <soap12:operation soapAction="urn:downloadReport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ackDownloadReport">
      <soap12:operation soapAction="urn:ackDownloadReport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:binding name="MPServiceHttpBinding" type="ns:MPServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="login">
      <http:operation location="login"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertProduct">
      <http:operation location="insertProduct"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadReport">
      <http:operation location="downloadReport"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ackDownloadReport">
      <http:operation location="ackDownloadReport"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>    
    
    
  </wsdl:binding>
  <wsdl:service name="MPService">
    <wsdl:port name="MPServiceHttpSoap11Endpoint" binding="ns:MPServiceSoap11Binding">
      <soap:address location="http://localhost:8080/services/MPService"/>
    </wsdl:port>
    <wsdl:port name="MPServiceHttpEndpoint" binding="ns:MPServiceHttpBinding">
      <http:address location="http://localhost:8080/services/MPService"/>
    </wsdl:port>
    <wsdl:port name="MPServiceHttpSoap12Endpoint" binding="ns:MPServiceSoap12Binding">
      <soap12:address location="http://localhost:8080/services/MPService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
