com.misys.portal.client.fcc6062/warcontent/WEB-INF/classes/openaccount/xsd/ea.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ea_tnx_record" type="ea_tnx_record" />
	
	<xs:complexType name="ea_tnx_record">
		<xs:sequence>
			<xs:element minOccurs="0" name="brch_code" type="FiveCharacters" />
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="template_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="issuer_ref_id" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="bo_ref_id" type="SixtyFourCharacters"/>
			<xs:element minOccurs="0" name="bo_tnx_id" type="SixtyFourCharacters" />
			<xs:element minOccurs="0" name="cust_ref_id" type="SixtyFourCharacters"/>
			<xs:element minOccurs="0" name="group_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="company_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="tnx_type_code" type="positiveInteger"/>
			<xs:element minOccurs="0" name="sub_tnx_type_code" type="positiveInteger"/>
			<xs:element maxOccurs="1" name="prod_stat_code" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="tnx_stat_code" type="positiveInteger" />
			<xs:element minOccurs="0" name="sub_tnx_stat_code" type="positiveInteger"/>
			<xs:element maxOccurs="1" name="product_code" type="product_code"/>
			<xs:element minOccurs="0" name="sub_product_code" type="FiveCharacters"/>
            <xs:element maxOccurs="1" minOccurs="0" name="inp_user_id" type="positiveInteger" />
	        <xs:element minOccurs="0" name="inp_dttm" type="DateTime" />
            <xs:element minOccurs="0" name="bo_inp_user_id" type="TwentyCharacters" />
            <xs:element minOccurs="0" name="bo_inp_dttm" type="DateTime" />
            <xs:element minOccurs="0" name="tnx_val_date" type="Date" />
            <xs:element minOccurs="0" name="appl_date" type="Date" />
			<xs:element minOccurs="0" name="iss_date" type="Date"/>
			<xs:element minOccurs="0" name="due_date" type="Date"/>
			<xs:element minOccurs="0" name="amd_date" type="Date"/>
			<xs:element minOccurs="0" name="amd_no" type="positiveInteger"/>
			<xs:element minOccurs="0" name="tnx_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="tnx_amt" type="amount"/>
			<xs:element minOccurs="0" name="action_req_code" type="positiveInteger"/>
			<xs:element minOccurs="0" name="entity" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="buyer_abbv_name" type="ThirtyFiveCharacters"/>
			<xs:element name="buyer_name" minOccurs="1" maxOccurs="1" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="buyer_bei" type="BEIIdentifier"/>
			<xs:element minOccurs="0" name="buyer_bank_bic" type="BICIdentifier"/>
			<xs:element name="buyer_street_name" minOccurs="0" maxOccurs="1" type="SeventyCharacters"/>
			<xs:element minOccurs="0" maxOccurs="1" name="buyer_post_code" type="SixteenCharacters"/>
			<xs:element minOccurs="0" maxOccurs="1" name="buyer_town_name" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" maxOccurs="1" name="buyer_country_sub_div" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="1" maxOccurs="1" name="buyer_country" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="buyer_reference" type="ThirtyFourCharacters"/>
			<xs:element minOccurs="0" name="seller_abbv_name" type="ThirtyFiveCharacters"/>
			<xs:element name="seller_name" minOccurs="1" maxOccurs="1" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="seller_bei" type="BEIIdentifier"/>
			<xs:element minOccurs="0" name="seller_bank_bic" type="BICIdentifier"/>
			<xs:element name="seller_street_name" minOccurs="0" maxOccurs="1" type="SeventyCharacters"/>
			<xs:element minOccurs="0" maxOccurs="1" name="seller_post_code" type="SixteenCharacters"/>
			<xs:element minOccurs="0" maxOccurs="1" name="seller_town_name" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" maxOccurs="1" name="seller_country_sub_div" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="1" maxOccurs="1" name="seller_country" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="seller_reference" type="ThirtyFourCharacters"/>
			<xs:element minOccurs="0" name="bill_to_abbv_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="bill_to_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="bill_to_bei" type="BEIIdentifier"/>
			<xs:element minOccurs="0" name="bill_to_street_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="bill_to_post_code" type="SixteenCharacters"/>
			<xs:element minOccurs="0" name="bill_to_town_name" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="bill_to_country_sub_div" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="bill_to_country" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="ship_to_abbv_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="ship_to_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="ship_to_bei" type="BEIIdentifier"/>
			<xs:element minOccurs="0" name="ship_to_street_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="ship_to_post_code" type="SixteenCharacters"/>
			<xs:element minOccurs="0" name="ship_to_town_name" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="ship_to_country_sub_div" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="ship_to_country" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="consgn_abbv_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="consgn_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="consgn_bei" type="BEIIdentifier"/>
			<xs:element minOccurs="0" name="consgn_street_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="consgn_post_code" type="SixteenCharacters"/>
			<xs:element minOccurs="0" name="consgn_town_name" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="consgn_country_sub_div" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="consgn_country" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="consgnor_abbv_name" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="consgnor_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="consgnor_bei" type="BEIIdentifier"/>
			<xs:element minOccurs="0" name="consgnor_street_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="consgnor_post_code" type="SixteenCharacters"/>
			<xs:element minOccurs="0" name="consgnor_town_name" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="consgnor_country_sub_div" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="consgnor_country" type="TwoCharacters"/>
			<xs:element minOccurs="0" maxOccurs="1" name="goods_desc" type="SeventyCharacters"/>  
			<xs:element minOccurs="0" maxOccurs="1" name="part_ship" type="YesNo"/>
			<xs:element minOccurs="0" maxOccurs="1" name="tran_ship" type="YesNo"/>
			<xs:element minOccurs="0" maxOccurs="1" name="last_ship_date" type="Date"/>
			<xs:element minOccurs="0" name="nb_mismatch" type="positiveInteger"/>
			<xs:element minOccurs="0" name="full_match" type="YesNo"/>
			<xs:element minOccurs="0" name="total_amt" type="amount"/>
			<xs:element minOccurs="0" name="total_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="total_net_amt" type="amount"/>
			<xs:element minOccurs="0" name="total_net_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="order_total_amt" type="amount"/>
			<xs:element minOccurs="0" name="order_total_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="order_total_net_amt" type="amount"/>
			<xs:element minOccurs="0" name="order_total_net_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="accpt_total_amt" type="amount"/>
			<xs:element minOccurs="0" name="accpt_total_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="accpt_total_net_amt" type="amount"/>
			<xs:element minOccurs="0" name="accpt_total_net_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="liab_total_amt" type="amount"/>
			<xs:element minOccurs="0" name="original_amt" type="amount" />
			<xs:element minOccurs="0" name="original_net_amt" type="amount" />
			<xs:element minOccurs="0" name="paid_total_net_amt" type="amount" />
			<xs:element minOccurs="0" name="outstanding_total_amt" type="amount"/>
			<xs:element name="intent_to_pay_amt" type="amount" />
			<xs:element minOccurs="0" name="liab_total_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="liab_total_net_amt" type="amount"/>
			<xs:element minOccurs="0" name="liab_total_net_cur_code" type="currency"/>
			<xs:element name="pymnt_due_date" type="Date" />
			<xs:element name="expected_payment_date" type="Date" />
			<xs:element minOccurs="0" name="fin_inst_bic" nillable="true" type="BICIdentifier"/>
			<xs:element minOccurs="0" name="fin_inst_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="fin_inst_street_name" type="SeventyCharacters"/> 
			<xs:element minOccurs="0" name="fin_inst_post_code" type="SixteenCharacters"/>
			<xs:element minOccurs="0" name="fin_inst_town_name" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="fin_inst_country_sub_div" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="fin_inst_country" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="seller_account_name" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="seller_account_iban" type="IBANIdentifier"/>
			<xs:element minOccurs="0" name="seller_account_bban" type="BBANIdentifier"/>
			<xs:element minOccurs="0" name="seller_account_upic" type="UPICIdentifier"/>
			<xs:element minOccurs="0" name="seller_account_id" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="last_match_date" type="Date"/>
			<xs:element minOccurs="0" name="reqrd_commercial_dataset" type="YesNo"/>
			<xs:element minOccurs="0" name="reqrd_transport_dataset" type="YesNo"/>
			<xs:element minOccurs="0" name="submitr_bic" type="BICIdentifier"/>
			<xs:element minOccurs="0" name="data_set_id" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="freight_charges_type" type="FreightCharges1Code"/>
			<xs:element minOccurs="0" name="payment_terms_type" type="PaymentTerms1Code"/>
			<xs:element minOccurs="0" name="version" type="positiveInteger"/>
			<xs:element minOccurs="0" name="buyer_bank_type_code" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="seller_bank_type_code" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="issuer_type_code" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="final_presentation" type="YesNo"/>
			<xs:element minOccurs="0" name="submission_type" type="FourCharacters"/>
			<xs:element minOccurs="0" name="tid" type="FourtyCharacters"/>
			<xs:element minOccurs="0" name="fscm_programme_code" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="eligibility_flag" type="OneCharacter"/>
			<xs:element name="inv_eligible_amt" type="amount"/>
			<xs:element name="inv_eligible_cur_code" type="currency" />
			<xs:element name="inv_eligible_pct" type="PercentageRate" minOccurs="0" />
			<xs:element name="finance_amt" type="amount" />
			<xs:element name="finance_cur_code" type="currency" />
			<xs:element name="request_finance_cur_code" type="currency" />
			<xs:element minOccurs="0" name="finance_offer_flag" type="OneCharacter"/>
			<xs:element minOccurs="1" maxOccurs="1" name="po_ref_id" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="1" maxOccurs="1" name="po_issue_date" type="Date"/>
			<xs:element name="tma_used_status" type="YesNo" />
			<xs:element minOccurs="0" name="exp_date" type="Date"/>
			<xs:element minOccurs="0" name="expiry_place" type="ThirtyFiveCharacters"/>
			<xs:element name="bpo_used_status" type="YesNo" />
			<xs:element name="intent_to_pay_received_status" type="YesNo" />
			<xs:element name="pending_total_amt" type="amount" />
			<xs:element name="pending_total_net_amt" type="amount" />
			<xs:element name="outstanding_total_net_amt" type="amount" />
			<xs:element name="event_in_progress_flag" type="YesNo" />
			<xs:element name="invoice_iss_date" type="Date" />
			<xs:element name="invoice_number" type="ThirtyFiveCharacters" />
			<xs:element name="seller_account_type_code" type="FourCharacters" />
			<xs:element name="seller_account_type_prop" type="ThirtyFiveCharacters" />
			<xs:element name="earliest_ship_date" type="Date" />
			<xs:element name="tma_version_no" type="version" />
			<xs:element name="seller_account_cur_code" type="currency"/>
			<xs:element name="buyer_proprietary_id" minOccurs="0" maxOccurs="1" type="ThirtyFiveCharacters" />
			<xs:element name="buyer_proprietary_id_type" type="ThirtyFiveCharacters" />
			<xs:element name="intent_to_pay_flag" type="YesNo" />
			<xs:element name="seller_proprietary_id" type="ThirtyFiveCharacters" />
			<xs:element name="seller_proprietary_id_type" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="buyer_submitting_bank_bic" type="BICIdentifier"/>
            <xs:element minOccurs="0" name="seller_submitting_bank_bic" type="BICIdentifier"/>
            <xs:element minOccurs="0" name="resubmission_count" type="positiveInteger"/>	
	        <xs:element minOccurs="0" name="error_msg" type="ThousandCharacters"/>
	        <xs:element minOccurs="0" name="forced_match" type="YesNo" />
	        <xs:element minOccurs="0" name="final_submission_flag" type="YesNo" />					
			
			<xs:element name="line_items" type="line_items" />
			<xs:element name="contacts" type="contacts" />
			<xs:element maxOccurs="unbounded" minOccurs="1" name="payments"	type="payments" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="incoterms" type="Incoterms1" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="adjustments" type="Adjustment3" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="taxes" type="Tax13" />
			<xs:element maxOccurs="1" minOccurs="0" name="freight_charges" type="Charge12" />
			<xs:element maxOccurs="unbounded" minOccurs="0"	name="user_defined_informations" type="UserDefinedInformation1" />
			<xs:element maxOccurs="1" minOccurs="0" name="routing_summaries" type="TransportMeans1" />
			<xs:element name="buyer_bank" type="bank" />
			<xs:element name="issuing_bank" type="bank" />
			<xs:element name="seller_bank" type="bank" />
			<xs:element name="advising_bank" type="bank" />
			<xs:element name="bo_comment" type="xs:string" minOccurs="0" />
			<xs:element name="close_comments" type="xs:string"	minOccurs="0" />
			<xs:element name="amd_details" type="xs:string"	minOccurs="0" />
			<xs:element name="free_format_text" type="xs:string" minOccurs="0" />
			<xs:element name="mismatches" type="xs:string" minOccurs="0" />
			<xs:element minOccurs="0" name="commercial_dataset" type="commercial_dataset" />
			<xs:element maxOccurs="1" minOccurs="0" name="transport_dataset" type="transport_dataset" />
			<xs:element maxOccurs="1" minOccurs="0" name="payment_transport_dataset" type="payment_transport_dataset" />			
			<xs:element name="insurance_dataset" type="insurance_dataset" nillable="true" />
			<xs:element maxOccurs="unbounded" minOccurs="0"	name="certificate_dataset" type="certificate_dataset" />
			<xs:element maxOccurs="unbounded" minOccurs="0"	name="other_certificate_dataset" type="other_certificate_dataset" />
			<xs:element maxOccurs="unbounded" minOccurs="0"	name="bank_payment_obligation" type="PaymentObligation1" />
			<xs:element maxOccurs="1" minOccurs="0"	name="payment_insurance_dataset" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0"	name="payment_certificate_dataset" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0"	name="payment_other_certificate_dataset" type="xs:string"/>
			<xs:element name="forward_dataset_submission" type="xs:string"	minOccurs="0" />
			<xs:element name="baseline_report" type="xs:string"	minOccurs="0" />
			<xs:element name="dataset_match_report" type="xs:string" minOccurs="0" />
			<xs:element name="full_push_through_report" type="xs:string" minOccurs="0" />
			<xs:element name="delta_report" type="xs:string" minOccurs="0" />
			<xs:element name="reject_comments" type="xs:string" minOccurs="0" />
			<xs:element name="attachments" type="attachments" minOccurs="0" />
			<xs:element minOccurs="0" name="cross_references" type="cross_references"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="cross_references">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="cross_reference"  minOccurs="0" type="cross_reference" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="cross_reference">
		<xs:sequence>
			<xs:element minOccurs="0" name="brch_code" type="FiveCharacters" />
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="cross_reference_id" type="xs:string"/>
			<xs:element minOccurs="0" name="product_code" type="product_code"/>
			<xs:element minOccurs="0" name="child_product_code" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="child_ref_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="child_tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="type_code" type="TwoCharacters"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="certificate_dataset">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="CertDataSetReqrd"  minOccurs="0" type="CertDataSetReqrd" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CertDataSetReqrd">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Submitr" type="BICIdentification1" />
			<xs:element minOccurs="0" name="CertTp" type="TradeCertificateType1Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="MtchIssr" type="PartyIdentification27" />
			<xs:element minOccurs="0" name="MtchIsseDt" type="YesNoIndicator" />
			<xs:element minOccurs="0" name="MtchInspctnDt" type="YesNoIndicator" />
			<xs:element minOccurs="0" name="AuthrsdInspctrInd" type="YesNoIndicator" />
			<xs:element minOccurs="0" name="MtchConsgn" type="YesNoIndicator" />
			<xs:element maxOccurs="1" minOccurs="0" name="MtchManfctr" type="PartyIdentification27" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="LineItmId" type="SeventyCharacters" />
		</xs:sequence>
	</xs:complexType> 

	 <xs:complexType name="insurance_dataset">
		<xs:sequence>
			<xs:element  maxOccurs="unbounded" name="InsrncDataSetReqrd" minOccurs="0" type="InsrncDataSetReqrd" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InsrncDataSetReqrd">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="Submitr" type="BICIdentification1" />
			<xs:element maxOccurs="1" minOccurs="0" name="MtchIssr" type="PartyIdentification27" />
			<xs:element name="MtchIsseDt" type="YesNoIndicator" />
			<xs:element name="MtchTrnsprt" type="YesNoIndicator" />
			<xs:element name="MtchAmt" type="YesNoIndicator" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ClausesReqrd"	type="InsuranceClauses1Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="MtchAssrdPty"	type="AssuredType1Code" />
		</xs:sequence>
	</xs:complexType>

	 <xs:simpleType name="TradeCertificateType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="ANLY" />
			<xs:enumeration value="QUAL" />
			<xs:enumeration value="QUAN" />
			<xs:enumeration value="WEIG" />
			<xs:enumeration value="ORIG" />
			<xs:enumeration value="HEAL" />
			<xs:enumeration value="PHYT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AssuredType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="BUYE" />
			<xs:enumeration value="SELL" />
			<xs:enumeration value="BUBA" />
			<xs:enumeration value="SEBA" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="InsuranceClauses1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="ICCA" />
			<xs:enumeration value="ICCB" />
			<xs:enumeration value="ICCC" />
			<xs:enumeration value="ICAI" />
			<xs:enumeration value="IWCC" />
			<xs:enumeration value="ISCC" />
			<xs:enumeration value="IREC" />
			<xs:enumeration value="ICLC" />
			<xs:enumeration value="ISMC" />
			<xs:enumeration value="CMCC" />
			<xs:enumeration value="IRCE" />
		</xs:restriction>
	</xs:simpleType> 
	
	 <xs:complexType name="PartyIdentification27">
		<xs:sequence>
			<xs:element minOccurs="0" name="Nm" type="SeventyCharacters" />
			<xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification4" />
			<xs:element minOccurs="0" name="Ctry" type="CountryCode" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GenericIdentification4">
		<xs:sequence>
			<xs:element minOccurs="0" name="Id" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="IdTp" type="ThirtyFiveCharacters" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="other_certificate_dataset">
		<xs:sequence>
			<xs:element  maxOccurs="unbounded" minOccurs="0" name="OthrCertDataSetReqrd" type="OthrCertDataSetReqrd" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OthrCertDataSetReqrd">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Submitr" type="BICIdentification1" />
			<xs:element name="CertTp" type="TradeCertificateType2Code" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="TradeCertificateType2Code">
		<xs:restriction base="xs:string">
		  	<xs:enumeration value="" />
			<xs:enumeration value="BENE" />
			<xs:enumeration value="SHIP" />
			<xs:enumeration value="UND1" />
			<xs:enumeration value="UND2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="commercial_dataset">
		<xs:sequence>
			<xs:element  maxOccurs="unbounded" minOccurs="0" name="ComrclDataSetReqrd" type="ComrclDataSetReqrd" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComrclDataSetReqrd">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="Submitr"
				type="BICIdentification1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="transport_dataset">
		<xs:sequence>
			<xs:element  maxOccurs="unbounded" name="TrnsprtDataSetReqrd" minOccurs="0" type="TrnsprtDataSetReqrd" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="payment_transport_dataset">
		<xs:sequence>
			<xs:element  maxOccurs="unbounded" name="TrnsprtDataSet" minOccurs="0" type="TrnsprtDataSet" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrnsprtDataSetReqrd">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="Submitr"
				type="BICIdentification1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrnsprtDataSet">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="DataSetId" type="DataSetId" />
			<xs:element maxOccurs="1" minOccurs="1" name="TrnsprtdGoods" type="TrnsprtdGoods" />
			<xs:element maxOccurs="1" minOccurs="1" name="TrnsprtDocRef" type="TrnsprtDocRef" />
			<xs:element maxOccurs="1" minOccurs="0" name="Consgnmt" type="Consgnmt" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DataSetId">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="payment_tds_version"	type="Number" />
			<xs:element maxOccurs="1" minOccurs="1" name="payment_tds_id"	type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="1" minOccurs="1" name="bic"	type="BICIdentifier" />
			<xs:element maxOccurs="1" minOccurs="0" name="payment_tds_prop_date"	type="Date" />
			<xs:element maxOccurs="1" minOccurs="0" name="payment_tds_actual_date"	type="Date" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrnsprtdGoods">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="TrnsprtdGoodsDtls"	type="TrnsprtdGoodsDtls" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrnsprtdGoodsDtls">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="payment_tds_po_ref_id"	type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="payment_tds_goods_desc"	type="SeventyCharacters" />
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="TrnsprtDocRef">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="TrnsprtDocRefDtls"	type="TrnsprtDocRefDtls" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Consgnmt">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="TtlQty"	type="TtlQty" />
			<xs:element maxOccurs="1" minOccurs="0" name="TtlVol"	type="TtlVol" />
			<xs:element maxOccurs="1" minOccurs="0" name="TtlWght"	type="TtlWght" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrnsprtDocRefDtls">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="payment_tds_doc_id"	type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="unbounded" minOccurs="1" name="payment_tds_doc_iss_date"	type="Date" />
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="TtlQty">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="pmt_tds_qty_unit_measr_code"	type="UnitOfMeasure3Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="pmt_tds_qty_unit_measr_other"	type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="1" minOccurs="1" name="pmt_tds_qty_val"	type="unionType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TtlVol">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="pmt_tds_vol_unit_measr_code"	type="UnitOfMeasure3Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="pmt_tds_vol_unit_measr_other"	type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="1" minOccurs="1" name="pmt_tds_vol_val"	type="unionType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TtlWght">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="pmt_tds_weight_unit_measr_code"	type="UnitOfMeasure3Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="pmt_tds_weight_unit_measr_other"	type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="1" minOccurs="1" name="pmt_tds_weight_val"	type="unionType" />
		</xs:sequence>
	</xs:complexType>

	 <xs:complexType name="BICIdentification1">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*|[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TransportMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
			<xs:enumeration value="03" />
			<xs:enumeration value="04" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TransportType"> 
		<xs:restriction base="xs:string">
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TransportSubType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
			<xs:enumeration value="03" />
			<xs:enumeration value="04" />
			<xs:enumeration value="05" />
			<xs:enumeration value="06" />
			<xs:enumeration value="07" />
			<xs:enumeration value="08" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TransportMeans1">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="rs_tnx_record"
				type="MultimodalTransport3" /> 
			<xs:element minOccurs="0" maxOccurs="unbounded"
				name="air_routing_summaries" type="SingleTransportByAir" />
			 <xs:element minOccurs="0" maxOccurs="unbounded"
				name="sea_routing_summaries" type="SingleTransportBySea" />
			<xs:element minOccurs="0" maxOccurs="unbounded"
				name="road_routing_summaries" type="SingleTransportByRoad" />
			<xs:element minOccurs="0" maxOccurs="unbounded"
				name="rail_routing_summaries" type="SingleTransportByRail" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SingleTransportByAir">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="rs_tnx_record" type="TnxRecordAir" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TnxRecordAir">
		<xs:sequence>
			 <xs:element name="routing_summary_mode" type="TransportModeAir" /> 
			<xs:element name="routing_summary_type" type="TransportType" />
			<xs:element name="air_carrier_name" type="ThirtyFiveCharacters" />
			 <xs:group ref="TransportCommonInfo"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="departures"
				type="departures" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="destinations"
				type="destinations" />
			<xs:element name="errors" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="departures">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="departure"
				type="departure" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="destinations">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="destination"
				type="destination" />
		</xs:sequence>
	</xs:complexType>
	
	 <xs:complexType name="departure">
		<xs:sequence>
			<xs:element name="routing_summary_id" type="positiveInteger" />
			<xs:element name="routing_summary_sub_type" type="TransportSubTypeDeparture" />
			<xs:element minOccurs="0" name="departure_airport_code"
				type="SixCharacters" />
			<xs:element minOccurs="0" name="departure_airport_name"
				type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="departure_air_town" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="place_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="port_name" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="destination">
		<xs:sequence>
			<xs:element name="routing_summary_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="routing_summary_sub_type"
				type="TransportSubTypeDestination" />
			<xs:element minOccurs="0" name="destination_airport_code"
				type="SixCharacters" />
			<xs:element minOccurs="0" name="destination_airport_name"
				type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="destination_air_town"
				type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="place_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="port_name" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType>
	
		<xs:simpleType name="TransportModeAir">
			<xs:restriction base="TransportMode">
				<xs:enumeration value="01" />
			</xs:restriction>
		</xs:simpleType>
	
		<xs:simpleType name="TransportSubTypeDeparture">
			<xs:restriction base="TransportSubType">
				<xs:enumeration value="01" />
			</xs:restriction>
		</xs:simpleType>
	
		<xs:simpleType name="TransportSubTypeDestination">
			<xs:restriction base="TransportSubType">
				<xs:enumeration value="02" />
			</xs:restriction>
		</xs:simpleType> 

	 <xs:complexType name="SingleTransportBySea">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="rs_tnx_record" type="TnxRecordSea" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TnxRecordSea">
		<xs:sequence>
			<xs:element name="routing_summary_mode" type="TransportModeSea" />
			<xs:element name="routing_summary_type" type="TransportType" />
			<xs:element name="sea_carrier_name" type="ThirtyFiveCharacters" />
			<xs:group ref="TransportCommonInfo"/>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="loading_ports" type="loading_ports" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="discharge_ports" type="discharge_ports" />
			<xs:element name="errors" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="loading_ports">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="loading_port"
				type="loading_port" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="discharge_ports">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="discharge_port" type="discharge_port" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="loading_port">
		<xs:sequence>
			<xs:element name="routing_summary_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="routing_summary_sub_type"
				type="TransportSubTypeLoading" />
			<xs:element minOccurs="0" name="airport_code" type="SixCharacters" />
			<xs:element minOccurs="0" name="airport_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="town" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="place_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="loading_port_name" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="discharge_port">
		<xs:sequence>
			<xs:element name="routing_summary_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="routing_summary_sub_type"
				type="TransportSubTypeDischarge" />
			<xs:element minOccurs="0" name="airport_code" type="SixCharacters" />
			<xs:element minOccurs="0" name="airport_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="town" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="place_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="discharge_port_name" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType>

		<xs:simpleType name="TransportModeSea">
			<xs:restriction base="TransportMode">
				<xs:enumeration value="02" />
			</xs:restriction>
		</xs:simpleType>
	
		<xs:simpleType name="TransportSubTypeLoading">
			<xs:restriction base="TransportSubType">
				<xs:enumeration value="03" />
			</xs:restriction>
		</xs:simpleType>
	
		<xs:simpleType name="TransportSubTypeDischarge">
			<xs:restriction base="TransportSubType">
				<xs:enumeration value="04" />
			</xs:restriction>
		</xs:simpleType> 

	<xs:complexType name="SingleTransportByRoad">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="rs_tnx_record" type="TnxRecordRoad" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TnxRecordRoad">
		<xs:sequence>
			<xs:element name="routing_summary_mode" type="TransportModeRoad" />
			<xs:element name="routing_summary_type" type="TransportType" />
			<xs:element name="road_carrier_name" type="ThirtyFiveCharacters" />
			<xs:group ref="TransportCommonInfo"/>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="road_receipt_places" type="road_receipt_places" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="road_delivery_places" type="road_delivery_places" />
			<xs:element name="errors" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="road_receipt_places">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="road_receipt_place" type="road_receipt_place" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="road_delivery_places">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="road_delivery_place" type="road_delivery_place" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="road_receipt_place">
		<xs:sequence>
			<xs:element name="routing_summary_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="routing_summary_sub_type"
				type="TransportSubTypeRoadReceipt" />
			<xs:element minOccurs="0" name="airport_code" type="SixCharacters" />
			<xs:element minOccurs="0" name="airport_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="town" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="road_receipt_place_name"
				type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="port_name" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="road_delivery_place">
		<xs:sequence>
			<xs:element name="routing_summary_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="routing_summary_sub_type"
				type="TransportSubTypeRoadDelivery" />
			<xs:element minOccurs="0" name="airport_code" type="SixCharacters" />
			<xs:element minOccurs="0" name="airport_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="town" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="road_delivery_place_name"
				type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="port_name" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType>

		<xs:simpleType name="TransportModeRoad">
			<xs:restriction base="TransportMode">
				<xs:enumeration value="03" />
			</xs:restriction>
		</xs:simpleType>
	
		<xs:simpleType name="TransportSubTypeRoadReceipt">
			<xs:restriction base="TransportSubType">
				<xs:enumeration value="05" />
			</xs:restriction>
		</xs:simpleType>
	
		<xs:simpleType name="TransportSubTypeRoadDelivery">
			<xs:restriction base="TransportSubType">
				<xs:enumeration value="06" />
			</xs:restriction>
		</xs:simpleType> 

	 <xs:complexType name="SingleTransportByRail">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="rs_tnx_record" type="TnxRecordRail" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TnxRecordRail">
		<xs:sequence>
			<xs:element name="routing_summary_mode" type="TransportModeRail" />
			<xs:element name="routing_summary_type" type="TransportType" />
			<xs:element name="rail_carrier_name" type="ThirtyFiveCharacters" />
			<xs:group ref="TransportCommonInfo"/>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="rail_receipt_places" type="rail_receipt_places" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="rail_delivery_places" type="rail_delivery_places" />
			<xs:element name="errors" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="rail_receipt_places">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="rail_receipt_place" type="rail_receipt_place" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="rail_delivery_places">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="rail_delivery_place" type="rail_delivery_place" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="rail_receipt_place">
		<xs:sequence>
			<xs:element name="routing_summary_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="routing_summary_sub_type"
				type="TransportSubTypeRailReceipt" />
			<xs:element minOccurs="0" name="airport_code" type="SixCharacters" />
			<xs:element minOccurs="0" name="airport_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="town" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="rail_receipt_place_name"
				type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="port_name" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="rail_delivery_place">
		<xs:sequence>
			<xs:element name="routing_summary_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="routing_summary_sub_type"
				type="TransportSubTypeRailDelivery" />
			<xs:element minOccurs="0" name="airport_code" type="SixCharacters" />
			<xs:element minOccurs="0" name="airport_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="town" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="rail_delivery_place_name"
				type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="port_name" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType>

		<xs:simpleType name="TransportModeRail">
			<xs:restriction base="TransportMode">
				<xs:enumeration value="04" />
			</xs:restriction>
		</xs:simpleType>
	
		<xs:simpleType name="TransportSubTypeRailReceipt">
			<xs:restriction base="TransportSubType">
				<xs:enumeration value="07" />
			</xs:restriction>
		</xs:simpleType>
	
		<xs:simpleType name="TransportSubTypeRailDelivery">
			<xs:restriction base="TransportSubType">
				<xs:enumeration value="08" />
			</xs:restriction>
		</xs:simpleType>
	
	<xs:group name="TransportCommonInfo">	
		<xs:sequence>
			<xs:element name="taking_in_charge" type="ThirtyFiveCharacters" />
			<xs:element name="place_of_final_destination" type="ThirtyFiveCharacters" />
			<xs:element name="linked_ref_id" type="SixtyFourCharacters"
				nillable="true" />
			<xs:element name="linked_tnx_id" type="TwentyCharacters"
				nillable="true" />
			<xs:element name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name ="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="tnx_type_code" type="positiveInteger"/>
			<xs:element minOccurs="0" name="sub_tnx_type_code" type="positiveInteger"/>
			<xs:element minOccurs="0" name="tnx_stat_code" type="positiveInteger"/>
			<xs:element minOccurs="0" name="sub_tnx_stat_code" type="positiveInteger"/>
			<xs:element minOccurs="0" name="bo_tnx_id" type="SixtyFourCharacters" />
			<xs:element maxOccurs="1" minOccurs="0" name="inp_user_id" type="positiveInteger"/>
			<xs:element maxOccurs="1" minOccurs="0" name="release_dttm" type="DateTime"/>
			<xs:element maxOccurs="1" minOccurs="0" name="release_user_id" type="positiveInteger"/>
			<xs:element maxOccurs="1" minOccurs="0" name="bo_release_user_id" type="TwentyCharacters"/>
			<xs:element maxOccurs="1" minOccurs="0" name="bo_release_dttm" type="DateTime"/>
			<xs:element minOccurs="0" name="inp_dttm" type="DateTime"/>
			<xs:element minOccurs="0" name="bo_inp_user_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="bo_inp_dttm" type="DateTime"/>
			<xs:element minOccurs="0" name="tnx_val_date" type="Date"/>
			<xs:element minOccurs="0" name="tnx_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="tnx_amt" type="amount"/>
			<xs:element minOccurs="0" name="action_req_code" type="positiveInteger"/>
			<xs:element minOccurs="0" name="dest_master_version" type="positiveInteger"/>
			<xs:element minOccurs="0" name="bulk_tnx_id" type="TwentyCharacters"/>
			<xs:element name="batch_id" type="TwentyCharacters" />           
			<xs:element minOccurs="0" name="brch_code" type="FiveCharacters"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="bo_ref_id" type="SixtyFourCharacters"/>
			<xs:element minOccurs="0" name="cust_ref_id" type="SixtyFourCharacters"/>
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="entity" type="ThirtyFiveCharacters"/>
			<xs:element minOccurs="0" name="company_name" type="ThirtyFiveCharacters"/>
			<xs:element maxOccurs="1" name="prod_stat_code" type="TwoCharacters"/>
			<xs:element maxOccurs="1" name="product_code" type="product_code"/>
			<xs:element minOccurs="0" name="appl_date" type="Date"/>
			<xs:element minOccurs="0" name="master_version" type="positiveInteger"/>
			<xs:element minOccurs="0" name="sub_product_code" type="FiveCharacters"/>
			<xs:element minOccurs="0" name="bulk_ref_id" type="TwentyCharacters"/>
		</xs:sequence>
	</xs:group>
	
	 <xs:complexType name="MultimodalTransport3">
		<xs:sequence>
			<xs:element name="routing_summary_mode"  minOccurs="0" type="xs:string" /> 
			<xs:element name="routing_summary_type" type="TransportTypeMultimodal" />
			<xs:element name="carrier_name"  minOccurs="0" type="xs:string" />
			 <xs:group ref="TransportCommonInfo"/>
		</xs:sequence>
	</xs:complexType> 
	
	<xs:simpleType name="TransportTypeMultimodal">
				<xs:restriction base="TransportType">
					<xs:enumeration value="02" />
				</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="bank">
		<xs:sequence>
			<xs:element minOccurs="0" name="abbv_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="name" type="ThirtyFiveCharacters"  />
			<xs:element minOccurs="0" name="address_line_1" type="ThirtyFiveCharacters"  />
			<xs:element minOccurs="0" name="address_line_2" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="dom" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="reference" type="ThirtyFourCharacters" />
			<xs:element minOccurs="0" name="country" type="CountryCode" />
			<xs:element minOccurs="0" name="iso_code" type="ElevenCharacters"  />
			<xs:element minOccurs="0" name="contact_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="phone" type="ThirtyTwoCharacters" />
			<xs:element minOccurs="0" name="fax" type="ThirtyTwoCharacters"/>
			<xs:element minOccurs="0" name="telex" type="ThirtyTwoCharacters" />
			<xs:element minOccurs="0" name="email" type="TwoHundredFiftyFiveCharacters" />
			<xs:element minOccurs="0" name="web_address" type="FourtyCharacters" />
		</xs:sequence>
	</xs:complexType> 

	 <xs:complexType name="contacts">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="contact"
				type="contact" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="contact">
		<xs:sequence>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="ctcprsn_id" type="positiveInteger" />
			<xs:element name="type" type="ContactType" />
			<xs:element  minOccurs="0" name="bic" type="BICIdentifier" />
			<xs:element name="name" type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="1" minOccurs="0" name="name_prefix" type="NamePrefix1Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="given_name" type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="1" minOccurs="0" name="role" type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="1" minOccurs="0" name="phone_number" type="PhoneNumber" />
			<xs:element maxOccurs="1" minOccurs="0" name="fax_number" type="PhoneNumber" />
			<xs:element maxOccurs="1" minOccurs="0" name="email"
				type="TwoHundredFiftySixCharacters" />
			<xs:element name="is_valid" type="YesNo" />
		</xs:sequence>
	</xs:complexType> 

	<xs:simpleType name="ContactType">
		<xs:restriction base="xs:token">
			<xs:pattern value="\s*|.{0}|01|02|03|04|05|06|07|08" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="DOCT" />
			<xs:enumeration value="MIST" />
			<xs:enumeration value="MISS" />
			<xs:enumeration value="MADM" />
		</xs:restriction>
	</xs:simpleType> 

	 <xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*|.{0}|\+[0-9]{1,3}-[0-9()+\-]{1,30}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="payments">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="payment"
				type="payment" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="payment">
		<xs:sequence>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="payment_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="code" type="PaymentTime1Code" />
			<xs:element minOccurs="0"  name="other_paymt_terms" type="HundredFourtyCharacters" />
			<xs:element minOccurs="0" name="nb_days" type="positiveInteger" />
			<xs:element minOccurs="0" name="amt" type="amount" />
			<xs:element minOccurs="0" name="pct" type="PercentageRate" />
			<xs:element  name="cur_code" type="currency" minOccurs="0" />
			<xs:element minOccurs="0" name="itp_payment_amt" type="amount" />
			<xs:element minOccurs="0" name="itp_payment_date" type="Date" />
			<xs:element name="is_valid" type="YesNo" />
		</xs:sequence>
	</xs:complexType>

	 <xs:simpleType name="PaymentTime1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="CASH" />
			<xs:enumeration value="EMTD" />
			<xs:enumeration value="EPRD" />
			<xs:enumeration value="PRMD" />
			<xs:enumeration value="IREC" />
			<xs:enumeration value="PRMR" />
			<xs:enumeration value="EPRR" />
			<xs:enumeration value="EMTR" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="UserDefinedInformation1">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded"
				name="user_defined_information" type="user_defined_information" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="user_defined_information">
		<xs:sequence>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element name="type" type="UserInfoType" />
			<xs:element minOccurs="0" name="user_info_id" type="positiveInteger" />
			<xs:element name="label" type="ThirtyFiveCharacters" />
			<xs:element name="information" type="HundredFourtyCharacters" />
			<xs:element name="is_valid" type="YesNo" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="UserInfoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
		</xs:restriction>
	</xs:simpleType> 

	<xs:complexType name="line_items">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="lt_tnx_record"
				type="LineItemRecord" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LineItemRecord">
		<xs:sequence>
	 		<xs:element minOccurs="0" name="brch_code" type="FiveCharacters" />
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
			<xs:element minOccurs="0" name="template_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="bo_ref_id" type="SixtyFourCharacters"/>
			<xs:element minOccurs="0" name="cust_ref_id" type="SeventyCharacters"/>
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="1" maxOccurs="1" name="po_ref_id" type="ThirtyFiveCharacters"/>
			 <xs:element name="po_tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="company_name" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="tnx_type_code" type="positiveInteger"/>
			<xs:element minOccurs="0" name="sub_tnx_type_code" type="positiveInteger"/>
			<xs:element maxOccurs="1" name="prod_stat_code" type="TwoCharacters"/>
			<xs:element minOccurs="0" name="tnx_stat_code" type="positiveInteger" />
			<xs:element minOccurs="0" name="sub_tnx_stat_code" type="positiveInteger"/>
			<xs:element maxOccurs="1" name="product_code" type="product_code"/>
			<xs:element minOccurs="0" name="sub_product_code" type="FiveCharacters"/>
			<xs:element maxOccurs="1" minOccurs="0" name="inp_user_id" type="positiveInteger" />
	        <xs:element minOccurs="0" name="inp_dttm" type="DateTime" />
            <xs:element minOccurs="0" name="bo_inp_user_id" type="TwentyCharacters" />
            <xs:element minOccurs="0" name="bo_inp_dttm" type="DateTime" />
            <xs:element minOccurs="0" name="tnx_val_date" type="Date" />
            <xs:element minOccurs="0" name="appl_date" type="Date" />
			<xs:element minOccurs="0" name="tnx_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="tnx_amt" type="amount"/>
			<xs:element minOccurs="0" name="entity" type="ThirtyFiveCharacters"/>
			<xs:element name="line_item_number" type="SeventyCharacters" />
			<xs:element minOccurs="0" name="qty_unit_measr_code" type="UnitOfMeasure3Code" />
			<xs:element name="qty_other_unit_measr" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="qty_val" type="unionType" />
			<xs:element minOccurs="0" name="qty_factor" type="Max15NumericText" />
			<xs:element minOccurs="0" name="qty_tol_pstv_pct" type="PercentageRate" />
			<xs:element minOccurs="0" name="qty_tol_neg_pct" type="PercentageRate" />
			<xs:element minOccurs="1" maxOccurs="1" name="price_unit_measr_code" type="UnitOfMeasure3Code" />
			<xs:element minOccurs="0" name="price_other_unit_measr"	type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" maxOccurs="1" name="price_amt" type="amount" />
			<xs:element minOccurs="0" maxOccurs="1" name="price_cur_code" type="currency" />
			<xs:element minOccurs="0" maxOccurs="1" name="price_factor"
				type="Max15NumericText" />
			<xs:element minOccurs="0" maxOccurs="1" name="price_tol_pstv_pct"
				type="PercentageRate" />
			<xs:element minOccurs="0" maxOccurs="1" name="price_tol_neg_pct"
				type="PercentageRate" />
			<xs:element minOccurs="0" maxOccurs="1" name="product_name"
				type="SeventyCharacters" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="product_orgn"
				type="CountryCode" />
			<xs:element minOccurs="0" name="freight_charges_type" type="FreightCharges1Code" />
			<xs:element minOccurs="0" maxOccurs="1" name="last_ship_date"
				type="Date" />
			<xs:element minOccurs="0" name="total_amt" type="amount" />
			<xs:element minOccurs="0" name="total_cur_code" type="currency"  />
			<xs:element minOccurs="0" name="total_net_amt" type="amount" />
			<xs:element minOccurs="0" name="total_net_cur_code" type="currency" />
			<xs:element name="pending_net_amt" type="amount" />
			<xs:element name="pending_amt" type="amount" />
			<xs:element name="pending_qty" type="unionType" />   
			<xs:element name="original_net_amt" type="amount" />
			<xs:element name="original_amt" type="amount" />
			<xs:element name="original_qty" type="unionType"/>
			<xs:element name="payment_in_progress" type="YesNo" />
			<xs:element minOccurs="0" name="accpt_total_amt" type="amount"/>					
			<xs:element minOccurs="0" name="accpt_total_cur_code" type="currency"/>
			<xs:element minOccurs="0" name="accpt_total_net_amt" type="amount"/>					
			<xs:element minOccurs="0" name="accpt_total_net_cur_code" type="currency"/>					
			<xs:element minOccurs="0" name="liab_total_amt" type="amount"/>                 
			<xs:element minOccurs="0" name="liab_total_cur_code" type="currency" />
			<xs:element minOccurs="0" name="outstanding_total_amt" type="amount" />
			<xs:element minOccurs="0" name="liab_total_net_amt" type="amount" />
			<xs:element name="liab_total_net_cur_code" type="currency"/>
			<xs:element name="earliest_ship_date" minOccurs="0" maxOccurs="1" type="Date" />
			<xs:element name="is_valid" type="YesNo" />
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="incoterms"
				type="Incoterms1" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="adjustments"
				type="Adjustment3" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="taxes"
				type="Tax13" />
			<xs:element maxOccurs="1" minOccurs="0" name="freight_charges"
				type="Charge12" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="product_identifiers" type="ProductIdentifier2Choice" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="product_categories" type="ProductCategory1Choice" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="product_characteristics" type="ProductCharacteristics1Choice" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="shipment_schedules" type="shipment_schedules" /> 
			 <xs:element maxOccurs="1" minOccurs="0" name="routing_summaries"
				type="TransportMeans1" /> 
		</xs:sequence>
	</xs:complexType>
	
	 <xs:complexType name="shipment_schedules">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="shipment_schedule"
				type="shipment_schedule" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="shipment_schedule">
		<xs:sequence>
	 		<xs:element minOccurs="0" name="shipment_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="sub_shipment_quantity_value" type="unionType" />
			<xs:element minOccurs="0" name="schedule_earliest_ship_date" type="Date" />
			<xs:element minOccurs="0" name="schedule_latest_ship_date" type="Date" />
			<xs:element minOccurs="0" name="is_valid" type="YesNo" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
		</xs:sequence>
	</xs:complexType> 

	 <xs:complexType name="Incoterms1">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="incoterm"
				type="incoterm" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="incoterm">
		<xs:sequence>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="inco_term_id" type="positiveInteger" />
			<xs:element name="code" type="Incoterms1Code" />
			<xs:element minOccurs="0" name="other" type="ThirtyFiveCharacters" />
			<xs:element name="location" type="ThirtyFiveCharacters"
				minOccurs="0" />
			<xs:element name="is_valid" type="YesNo" />
		</xs:sequence>
	</xs:complexType> 

	<xs:simpleType name="Incoterms1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="EXW" />
			<xs:enumeration value="FCA" />
			<xs:enumeration value="FAS" />
			<xs:enumeration value="FOB" />
			<xs:enumeration value="CFR" />
			<xs:enumeration value="CIF" />
			<xs:enumeration value="CPT" />
			<xs:enumeration value="CIP" />
			<xs:enumeration value="DAF" />
			<xs:enumeration value="DAT" />
			<xs:enumeration value="DAP" />
			<xs:enumeration value="DES" />
			<xs:enumeration value="DEQ" />
			<xs:enumeration value="DDU" />
			<xs:enumeration value="DDP" />
			<xs:enumeration value="OTHR" />
		</xs:restriction>
	</xs:simpleType> 

	 <xs:complexType name="Adjustment3">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="allowance"
				type="allowance" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Tax13">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="allowance"
				type="allowance" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Charge12">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="allowance"
				type="allowance" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="allowance">
		<xs:sequence>
			<xs:element minOccurs="0"  name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger" />
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="allowance_id" type="positiveInteger" />
			<xs:element name="allowance_type" type="AllowanceType" />
			<xs:choice>
				<xs:element name="type" type="AllowanceTypeCode" />
				<xs:element name="other_type" type="ThirtyFiveCharacters" />
			</xs:choice>
			<xs:choice>
				<xs:sequence>
					<xs:element name="rate" type="PercentageRate" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="amt" type="amount" />
					<xs:element name="cur_code" type="currency" />
				</xs:sequence>
			</xs:choice>
			<xs:element name="direction" type="AdjustmentDirection1Code"
				minOccurs="0" />
			<xs:element name="is_valid" type="YesNo" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AdjustmentDirection1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="ADDD" />
			<xs:enumeration value="SUBS" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AllowanceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
			<xs:enumeration value="03" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AllowanceTypeCode">
		<xs:union memberTypes="AdjustmentType1Code TaxType8Code ChargeType8Code" />
	</xs:simpleType>

	<xs:simpleType name="AdjustmentType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="REBA" />
			<xs:enumeration value="DISC" />
			<xs:enumeration value="CREN" />
			<xs:enumeration value="SURC"/>
			<xs:enumeration value="OTHR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TaxType8Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="PROV" />
			<xs:enumeration value="NATI" />
			<xs:enumeration value="STAT" />
			<xs:enumeration value="WITH" />
			<xs:enumeration value="STAM" />
			<xs:enumeration value="COAX" />
			<xs:enumeration value="VATA" />
            <xs:enumeration value="CUST" />
            <xs:enumeration value="OTHR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ChargeType8Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="SIGN" />
			<xs:enumeration value="STDE" />
			<xs:enumeration value="STOR" />
			<xs:enumeration value="PACK" />
			<xs:enumeration value="PICK" />
			<xs:enumeration value="DNGR" />
			<xs:enumeration value="SECU" />
			<xs:enumeration value="INSU" />
			<xs:enumeration value="COLF" />
			<xs:enumeration value="CHOR" />
			<xs:enumeration value="CHDE" />
			<xs:enumeration value="AIRF" />
			<xs:enumeration value="TRPT" />
			<xs:enumeration value="OTHR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ProductIdentifier2Choice">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="product_identifier"
				type="goods" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProductCategory1Choice">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="product_category"
				type="goods" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProductCharacteristics1Choice">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded"
				name="product_characteristic" type="goods" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="goods">
		<xs:sequence>
			<xs:element minOccurs="0" name="brch_code" type="FiveCharacters"  />
			<xs:element minOccurs="0" name="company_id" type="positiveInteger"/>
			<xs:element minOccurs="0" name="ref_id" type="TwentyCharacters" />
			<xs:element minOccurs="0" name="tnx_id" type="TwentyCharacters"/>
			<xs:element minOccurs="0" name="goods_id" type="xs:string" />
			<xs:element minOccurs="0" name="goods_type" type="TwoCharacters" />
			<xs:element minOccurs="0" name="goods_sub_type" type="TwoCharacters" />
			<xs:element minOccurs="0" name="type" type="FourCharacters" />
			<xs:element minOccurs="0" name="other_type" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="identifier" type="TwentyCharacters" />
			<xs:element minOccurs="0" name="characteristic" type="ThirtyFiveCharacters" />
			<xs:element minOccurs="0" name="category" type="ThirtyFiveCharacters" />
			<xs:element name="is_valid" type="YesNo" />
		</xs:sequence>
	</xs:complexType>

	 <xs:complexType name="PaymentObligation1">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="PmtOblgtn"
				type="PmtOblgtn1" />
		</xs:sequence>
	</xs:complexType> 

	<xs:complexType name="PmtOblgtn1">
		<xs:sequence>
			<xs:element minOccurs="0" name="buyer_bank_bpo" type="YesNo" />
			<xs:element name="OblgrBk" type="BICIdentification1" />
			<xs:element name="RcptBk" type="BICIdentification1" />
			<xs:element minOccurs="0" name="Amt" type="CurrencyAndAmount" />
			<xs:element minOccurs="0" name="Pctg" type="PercentageRate" />
			<xs:element maxOccurs="1" minOccurs="0" name="ChrgsAmt"
				type="CurrencyAndAmount" />
			<xs:element maxOccurs="1" minOccurs="0" name="ChrgsPctg"
				type="PercentageRate" />
			<xs:element name="XpryDt" type="ISODate" />
			<xs:element maxOccurs="1" minOccurs="0" name="AplblLaw"
				type="CountryCode" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PmtTerms"
				type="PaymentTerms2" />
			<xs:element maxOccurs="1" minOccurs="0" name="SttlmTerms"
				type="SettlementTerms2" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType" >
				<xs:attribute name="Ccy" type="CurrencyCode" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*|[A-Z]{3,3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date" />
	</xs:simpleType>
	
	 <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>

	<xs:complexType name="PaymentTerms2">
		<xs:sequence>
				<xs:element minOccurs="0" name="OthrPmtTerms" type="HundredFourtyCharacters" />
				<xs:element minOccurs="0" name="PmtCd" type="PaymentPeriod2" />
				<xs:element  minOccurs="0"  name="Pctg" type="PercentageRate" />
				<xs:element  minOccurs="0" name="Amt" type="CurrencyAndAmount" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PaymentPeriod2">
		<xs:sequence>
			<xs:element minOccurs="0" name="Cd" type="PaymentTime2Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="NbOfDays"
				type="unionType" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="Number">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0" />
			<xs:totalDigits value="18" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PaymentTime2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="CASH" />
			<xs:enumeration value="EMTD" />
			<xs:enumeration value="EPRD" />
			<xs:enumeration value="PRMD" />
			<xs:enumeration value="IREC" />
			<xs:enumeration value="PRMR" />
			<xs:enumeration value="EPRR" />
			<xs:enumeration value="EMTR" />
			<xs:enumeration value="EPAM" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="SettlementTerms2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt"
				type="FinancialInstitutionIdentification4Choice" />
			<xs:element name="CdtrAcct" type="CashAccount7" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FinancialInstitutionIdentification4Choice">
		<xs:sequence>
				<xs:element  minOccurs="0" name="BIC" type="BICIdentifier" />
				<xs:element  minOccurs="0" name="NmAndAdr" type="NameAndAddress6" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NameAndAddress6">
		<xs:sequence>
			<xs:element  minOccurs="0" name="Nm" type="SeventyCharacters" />
			<xs:element  minOccurs="0" name="Adr" type="PostalAddress2" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PostalAddress2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="StrtNm"
				type="SeventyCharacters" />
			<xs:element name="PstCdId"  minOccurs="0" type="SixteenCharacters" />
			<xs:element name="TwnNm"  minOccurs="0" type="ThirtyFiveCharacters" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn"
				type="ThirtyFiveCharacters" />
			<xs:element  minOccurs="0" name="Ctry" type="CountryCode" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CashAccount7">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0"  name="Id" type="AccountIdentification3Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Tp"
				type="CashAccountType2" />
			<xs:element maxOccurs="1" minOccurs="0" name="Ccy"
				type="CurrencyCode" /> 
			<xs:element maxOccurs="1" minOccurs="0" name="Nm"
				type="SeventyCharacters" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AccountIdentification3Choice">
		<xs:sequence>
				<xs:element minOccurs="0" name="IBAN" type="IBANIdentifier" />
				<xs:element minOccurs="0" name="BBAN" type="BBANIdentifier" />
				<xs:element minOccurs="0" name="UPIC" type="UPICIdentifier" />
				<xs:element minOccurs="0" name="PrtryAcct" type="SimpleIdentificationInformation2" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SimpleIdentificationInformation2">
		<xs:sequence>
			<xs:element minOccurs="0" name="Id" type="ThirtyFourCharacters" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CashAccountType2">
		<xs:sequence>
				<xs:element minOccurs="0" name="Cd" type="CashAccountType4Code" />
				<xs:element minOccurs="0" name="Prtry" type="ThirtyFiveCharacters" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="CASH" />
			<xs:enumeration value="CHAR" />
			<xs:enumeration value="COMM" />
			<xs:enumeration value="TAXE" />
			<xs:enumeration value="CISH" />
			<xs:enumeration value="TRAS" />
			<xs:enumeration value="SACC" />
			<xs:enumeration value="CACC" />
			<xs:enumeration value="SVGS" />
			<xs:enumeration value="ONDP" />
			<xs:enumeration value="MGLD" />
			<xs:enumeration value="NREX" />
			<xs:enumeration value="MOMA" />
			<xs:enumeration value="LOAN" />
			<xs:enumeration value="SLRY" />
			<xs:enumeration value="ODFT" />
			<xs:enumeration value="BBAN" />
			<xs:enumeration value="CUID" />
			<xs:enumeration value="UPIC" />
		</xs:restriction>
	</xs:simpleType> 
	
	 <xs:complexType name="attachments">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="attachment"
				type="attachment" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="attachment">
		<xs:sequence>
			<xs:element minOccurs="0" name="attachment_id" type="xs:string" />
			<xs:element minOccurs="0" name="description" type="TwoThousandCharacters" />
			<xs:element name="file_name" type="TwoHundredFiftyFiveCharacters" />
			<xs:element name="title" type="TwoHundredFiftyFiveCharacters" />
			<xs:element minOccurs="0" name="type" type="TwoCharacters" />
			<xs:element minOccurs="0" name="exported_file_path" type="xs:string" />
			<xs:element minOccurs="0" name="mime_type" type="xs:string" />
			<xs:element minOccurs="0" name="file_attachment" type="xs:string" />
			<xs:element minOccurs="0" name="auto_gen_doc_code" type="xs:string" />
			<xs:element minOccurs="0" name="doc_id"	type="TwoHundredFiftyFiveCharacters" />
			<xs:element minOccurs="0" name="dms_id"	type="TwoHundredFiftyFiveCharacters" />
		</xs:sequence>
	</xs:complexType> 
	

	<xs:simpleType name="SixCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SeventyCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ThousandCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ThirtyFiveCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ThirtyFourCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="HundredFourtyCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="140" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SixteenCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TwoHundredFiftySixCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="YesNo">
		<xs:restriction base="xs:token">
			<xs:pattern value=".{0}|Y|N" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
	
	<xs:simpleType name="positiveInteger">
		<xs:restriction base="xs:token">
			<xs:pattern value="\s*|.{0}|[0-9]+" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TwoThousandCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TwoHundredFiftyFiveCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TwoHundredTenCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="210" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="FiveHundredCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500" />
		</xs:restriction>
	</xs:simpleType>
	
	 <xs:simpleType name="amount">
		<xs:restriction base="xs:token">
			<xs:pattern value="\s*|.{0}|[0-9]{1,3}|[0-9]{1,3}[.][0-9]{1,3}|[0-9]{1,3}[,][0-9]{3}|[0-9]{1,3}[,][0-9]{3}[.][0-9]{1,3}|[0-9]{1,3}[,][0-9]{3}[,][0-9]{3}|[0-9]{1,3}[,][0-9]{3}[,][0-9]{3}[.][0-9]{1,3}|[0-9]{1,3}[,][0-9]{3}[,][0-9]{3}[,][0-9]{3}|[0-9]{1,3}[,][0-9]{3}[,][0-9]{3}[,][0-9]{3}[.][0-9]{1,3}|[0-9]{1,3}[,][0-9]{3}[,][0-9]{3}[,][0-9]{3}[,][0-9]{3}[.][0-9]{1,3}"/>
            <xs:maxLength value="23"/>            
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="currency">
			<xs:restriction base="xs:token">
				<xs:pattern 
					value=" \s*|.{0}|AED|AUD|BND|BHD|CAD|CHF|CNH|CNY|DKK|EUR|GBP|HKD|IDR|INR|JPY|KRW|LKR|MAD|MTP|MUR|MYR|NOK|NZD|PHP|PLZ|QAR|SEK|SGD|THB|TTD|SAR|TWD|USD|ZAR|ARS|CLP|CZK|KWD|PKR|SYP|LBP|TND|HUF|AFN|ALL|AMD|ANG|AWG|AZM|BAM|BBD|BDT|BGN|BIF|BMD|BOB|BRL|BSD|BTN|BWP|BYB|BZD|CDF|COP|CRC|CUP|CVE|CYP|DDM|DOP|DZD|ECS|EEK|EGP|ERN|ETB|FJD|FKP|GEL|GHC|GIP|GMD|GNF|GTQ|GYD|HNL|HRK|HTG|ILS|IQD|IRR|ISK|JMD|JOD|KES|KGS|KHR|KMF|KPW|KYD|KZT|LAK|LRD|LSL|LTL|LVL|LYD|MDL|MGF|MKD|MMK|MNT|MOP|MRO|MVR|MWK|MXN|MZM|NAD|NGN|NIO|NPR|OMR|PAB|PEN|PLN|PGK|PYG|ROL|RON|RUB|RWF|SBD|SCR|SDD|SIT|SKK|SLL|SOS|SRG|STD|SVC|SZL|TJS|TMM|TOP|TRL|TRY|TZS|UAH|UGX|UYU|UZS|VEB|VND|VUV|WST|XAF|XCD|XDR|XOF|XPF|YER|YUM|ZMK|ZWD|AFA"/>
			</xs:restriction>
		</xs:simpleType>
	    
	<xs:simpleType name="PercentageRate">
			<xs:restriction base="xs:token">
	            <xs:pattern value="\s*|.{0}|[0-9]{0,10}[.][0-9]{1,11}|[0-9]{0,10}"/>           
	        </xs:restriction>
		</xs:simpleType>
	
	<xs:simpleType name="Date">
			<xs:restriction base="xs:token">
				<xs:pattern value="\s*|.{0}|[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
			</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="DecimalNumber">
			<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="17"/>
				<xs:totalDigits value="18"/>
			</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="emptyType" >
    	<xs:restriction base="xs:string">
      		<xs:enumeration value="" />
   		 </xs:restriction>
  	</xs:simpleType>

 	 <xs:simpleType name="unionType">
   		 <xs:union memberTypes="DecimalNumber emptyType" />
  	 </xs:simpleType>
	
		
	<xs:simpleType name="FourCharacters">
			<xs:restriction base="xs:token">
				<xs:maxLength value="4"/>
			</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="version">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="FreightCharges1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="CLCT"/>
			<xs:enumeration value="PRPD"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PaymentTerms1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="AMNT"/>
			<xs:enumeration value="PRCT"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="FiveCharacters">
		<xs:restriction base="xs:token">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="TwentyCharacters">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SixtyFourCharacters">
		<xs:restriction base="xs:string">
		<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TwoCharacters">
		<xs:restriction base="xs:token">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*|.{0}|[0-9]{2}/[0-9]{2}/[0-9]{4} [012][0-9]:[0-6][0-9]:[0-6][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="FourtyCharacters">
		<xs:restriction base="xs:string">
		<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="OneCharacter">
		<xs:restriction base="xs:token">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ElevenCharacters">
		<xs:restriction base="xs:token">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ThirtyTwoCharacters">
		<xs:restriction base="xs:token">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BEIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="\s*|.{0}|[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*|[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*|[a-zA-Z0-9]{1,30}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UPICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*|[0-9]{8,17}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*|[0-9]{0,15}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			 <xs:pattern value="\s*|[A-Z]{2,2}" /> 
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="product_code">
				<xs:restriction base="xs:string">
					<xs:enumeration value="LC"/>
					<xs:enumeration value="SE"/>
					<xs:enumeration value="EL"/>
					<xs:enumeration value="BG"/>
					<xs:enumeration value="BR"/>
					<xs:enumeration value="EC"/>
					<xs:enumeration value="IC"/>
					<xs:enumeration value="IR"/>
					<xs:enumeration value="TF"/>
					<xs:enumeration value="SG"/>
					<xs:enumeration value="FT"/>
					<xs:enumeration value="SI"/>
					<xs:enumeration value="SR"/>
					<xs:enumeration value="PO"/>
					<xs:enumeration value="SO"/>
					<xs:enumeration value="IN"/>
					<xs:enumeration value="DM"/>
					<xs:enumeration value="LT"/>
					<xs:enumeration value="FO"/>
					<xs:enumeration value="TU"/>
					<xs:enumeration value="BN"/>
					<xs:enumeration value="LN"/>
					<xs:enumeration value="XO"/>
					<xs:enumeration value="LI"/>
					<xs:enumeration value="FA"/>
					<xs:enumeration value="BK"/>
					<xs:enumeration value="CN"/>
					<xs:enumeration value="LS"/>
					<xs:enumeration value="IO"/>
					<xs:enumeration value="RS"/>
					<xs:enumeration value="EA"/>
				</xs:restriction>
	</xs:simpleType>
	
	 <xs:simpleType name="UnitOfMeasure3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="KGM"/>
			<xs:enumeration value="EA"/>
			<xs:enumeration value="LTN"/>
			<xs:enumeration value="MTR"/>
			<xs:enumeration value="INH"/>
			<xs:enumeration value="LY"/>
			<xs:enumeration value="GLI"/>
			<xs:enumeration value="GRM"/>
			<xs:enumeration value="CMT"/>
			<xs:enumeration value="MTK"/>
			<xs:enumeration value="FOT"/>
			<xs:enumeration value="1A"/>
			<xs:enumeration value="INK"/>
			<xs:enumeration value="FTK"/>
			<xs:enumeration value="MIK"/>
			<xs:enumeration value="ONZ"/>
			<xs:enumeration value="PTI"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="QTI"/>
			<xs:enumeration value="QT"/>
			<xs:enumeration value="GLL"/>
			<xs:enumeration value="MMT"/>
			<xs:enumeration value="KTM"/>
			<xs:enumeration value="YDK"/>
			<xs:enumeration value="MMK"/>
			<xs:enumeration value="CMK"/>
			<xs:enumeration value="KMK"/>
			<xs:enumeration value="MMQ"/>
			<xs:enumeration value="CLT"/>
			<xs:enumeration value="LTR"/>
			<xs:enumeration value="LBR"/>
			<xs:enumeration value="STN"/>
			<xs:enumeration value="BLL"/>
			<xs:enumeration value="BX"/>
			<xs:enumeration value="BO"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="INQ"/>
			<xs:enumeration value="MTQ"/>
			<xs:enumeration value="OZI"/>
			<xs:enumeration value="OZA"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="BL"/>
			<xs:enumeration value="OTHR"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>