com.misys.portal.client.fcc6062/warcontent/WEB-INF/classes/trade/xsl/dm/dtd/Shipping_Instructions_340_V1_R3_P.dtd

<!--   Release:R3 Date:2001-01-19 Time:12:40:26 -->
<!-- *********************************************************** -->
<!--  Copyright Bolero International Limited 2000

Bolero International Limited hereby grants to any person using or
considering the use of the information in this publication a non-exclusive,
royalty-free, worldwide, and revocable license (1) to use and implement that
information, including document type definitions and other specifications,
and (2) to copy all or part of this publication in any form, provided that
all such copies clearly retain the foregoing copyright notice.

Bolero International Limited makes no warranty or representation of any kind
regarding these specifications or the right of any person to implement them
free of infringement claims by others in accordance with the above licence.
The above licence shall be void if the licensee alleges against Bolero
International Limited that the information in this publication infringes a
patent held or claimed by the licensee or a company controlled by or under
common control with the licensee. -->
<!-- *********************************************************** -->
<!-- *********************************************************** -->
<!-- Shipping Instructions 340 V1 R3 P.DTD-P -->
<!-- *********************************************************** -->
<!ELEMENT ShippingInstructions (Header,Body)>
<!ELEMENT Header (cmp:DocumentID,cmp:DocType,cmp:Status)>
<!ELEMENT cmp:DocumentID (cmp:RID,cmp:GeneralID,cmp:Version?)>
<!ELEMENT cmp:DocType (cmp:DocTypeCode,cmp:DocTypeDescription?)>
<!ELEMENT Body (GeneralInformation,Parties,TermsAndConditions,RoutingSummary,Consignment,FreightCharges?,AdditionalInformation?)>
<!ELEMENT GeneralInformation (dateOfIssue,PlaceOfIssue?,bookingNumber?,ExportLicenseIdentifier?,ServiceContractIdentifier?,DocumentaryCreditIdentifier?,C_GeneralInformation*,CountryOfOrigin?,DeclaredValueForCarriage?,adValorem?,toOrder?,Incoterms?,OtherInstructions?)>
<!ELEMENT PlaceOfIssue ((locationCode|locationName))>
<!ELEMENT ExportLicenseIdentifier (documentCreatorIdentifier?,documentNumber,documentVersion?)>
<!ELEMENT ServiceContractIdentifier (documentCreatorIdentifier?,documentNumber,documentVersion?)>
<!ELEMENT DocumentaryCreditIdentifier (documentCreatorIdentifier?,documentNumber,documentVersion?)>
<!ELEMENT C_GeneralInformation (c_GeneralInformationType,c_GeneralInformationValue,c_GeneralInformationQualifier?)>
<!ELEMENT CountryOfOrigin ((countryCode|countryName))>
<!ELEMENT DeclaredValueForCarriage (value,currencyCode)>
<!ELEMENT Incoterms (incotermsCode,NamedLocation)>
<!ELEMENT NamedLocation ((locationCode|locationName))>
<!ELEMENT OtherInstructions (line+)>
<!ELEMENT Parties (Shipper,Consignee?,NotifyParty*,FreightForwarder?)>
<!ELEMENT Shipper (organizationName,OrganizationIdentification*,AddressInformation?,ContactDetails?)>
<!ELEMENT OrganizationIdentification (organizationReference,organizationReferenceType?)>
<!ELEMENT AddressInformation (FullAddress?,NormalisedAddress?)>
<!ELEMENT FullAddress (line+)>
<!ELEMENT NormalisedAddress (City?,StateOrProvince?,Country?,postalCode?)>
<!ELEMENT City ((locationCode|locationName))>
<!ELEMENT StateOrProvince ((stateOrProvinceCode|stateOrProvinceName))>
<!ELEMENT Country ((countryCode|countryName))>
<!ELEMENT ContactDetails (personName?,departmentName?,telephoneNumber?,faxNumber?,e-MailAddress?)>
<!ELEMENT Consignee (organizationName,OrganizationIdentification*,AddressInformation?,ContactDetails?)>
<!ELEMENT NotifyParty (organizationName,OrganizationIdentification*,AddressInformation?,ContactDetails?)>
<!ELEMENT FreightForwarder (organizationName,OrganizationIdentification*,AddressInformation?,ContactDetails?)>
<!ELEMENT TermsAndConditions (termsAndConditionsReference?,clause*)>
<!ELEMENT RoutingSummary (transportService?,MeansOfTransport?,PlaceOfReceipt?,PlaceOfLoading,PlaceOfDischarge,PlaceOfDelivery?)>
<!ELEMENT MeansOfTransport ((SeaTransportIdentification|FlightDetails|RailTransportIdentification|RoadTransportIdentification))>
<!ELEMENT SeaTransportIdentification (Vessel,VoyageDetail)>
<!ELEMENT Vessel (vesselName)>
<!ELEMENT VoyageDetail (voyageNumber?,departureDate?)>
<!ELEMENT FlightDetails (flightNumber,departureDate)>
<!ELEMENT RailTransportIdentification (locomotiveNumber,railCarNumber)>
<!ELEMENT RoadTransportIdentification (licencePlateIdentification)>
<!ELEMENT PlaceOfReceipt ((locationCode|locationName))>
<!ELEMENT PlaceOfLoading ((locationCode|locationName))>
<!ELEMENT PlaceOfDischarge ((locationCode|locationName))>
<!ELEMENT PlaceOfDelivery ((locationCode|locationName))>
<!ELEMENT Consignment (ConsignmentSummary?,ConsignmentDetail)>
<!ELEMENT ConsignmentSummary (ReceiptCodes?,DeliveryCodes?,TotCtnrsPkgsRcvdByCarrier?)>
<!ELEMENT ReceiptCodes (contractAndCarriageConditionCode?,serviceRequirementCode?)>
<!ELEMENT DeliveryCodes (contractAndCarriageConditionCode?,serviceRequirementCode?)>
<!ELEMENT TotCtnrsPkgsRcvdByCarrier (numberOfContainersOrPackages,typeOfContainerOrPackage?)>
<!ELEMENT ConsignmentDetail ((Commodity+|Product+))>
<!ELEMENT Commodity (CtnrsPkgsRcvdByCarrier?,CommodityDescription,commodityCode?,DangerousGoodsDetail?,NetWeight?,GrossWeight?,NetVolume?,GrossVolume?,CommodityDimensions?,PackageSummary?,PackageAndWeightDetail*,HandlingInstructions?,ReceiptCodes?,DeliveryCodes?,Container*)>
<!ELEMENT CtnrsPkgsRcvdByCarrier (numberOfContainersOrPackages,typeOfContainerOrPackage?)>
<!ELEMENT CommodityDescription (line+)>
<!ELEMENT DangerousGoodsDetail (line+)>
<!ELEMENT NetWeight (value,weightUnitCode)>
<!ELEMENT GrossWeight (value,weightUnitCode)>
<!ELEMENT NetVolume (value,volumeUnitCode)>
<!ELEMENT GrossVolume (value,volumeUnitCode)>
<!ELEMENT CommodityDimensions (heightValue,widthValue,lengthValue,dimensionUnitCode)>
<!ELEMENT PackageSummary (PackageCount*,marksAndNumbers*)>
<!ELEMENT PackageCount (numberOfPackages,typeOfPackage)>
<!ELEMENT PackageAndWeightDetail (PackageCount+,NetWeight?,GrossWeight?)>
<!ELEMENT HandlingInstructions (line+)>
<!ELEMENT Container (containerIdentifier,containerDescription?,ContainerSizeAndCodes,seal*,fumigated?,liveReefer?)>
<!ELEMENT ContainerSizeAndCodes (containerGroupTypeCode?,ContainerSizeAndDetailedTypeCode?)>
<!ELEMENT ContainerSizeAndDetailedTypeCode (detailedContainerTypeCode,containerHeightAndWidthCode?,containerLengthCode?)>
<!ELEMENT Product (CtnrsPkgsRcvdByCarrier?,productName,ProductIdentifiers?,ProductCharacterisitics?,PackageAndWeightSummary?,PackageAndWeightDetail*)>
<!ELEMENT ProductIdentifiers (productIdentification?,C_ProductIdentifier*)>
<!ELEMENT C_ProductIdentifier (c_ProductIdentifierType,c_ProductIdentifierValue,c_ProductIdentifierQualifier?)>
<!ELEMENT ProductCharacterisitics (C_ProductCharacteristic*)>
<!ELEMENT C_ProductCharacteristic (c_ProductCharacteristicType,c_ProductCharacteristicValue,c_ProductCharacteristicQualifier?)>
<!ELEMENT PackageAndWeightSummary (PackageCount*,NetWeight?,GrossWeight?,marksAndNumbers*)>
<!ELEMENT FreightCharges (prepaidOrCollect?,FreightPayableLocation?)>
<!ELEMENT FreightPayableLocation ((locationCode|locationName))>
<!ELEMENT AdditionalInformation (line+)>
<!ELEMENT cmp:RID (#PCDATA) >
<!ELEMENT cmp:GeneralID (#PCDATA) >
<!ELEMENT cmp:Version (#PCDATA) >
<!ELEMENT cmp:DocTypeCode (#PCDATA) >
<!ELEMENT cmp:DocTypeDescription (#PCDATA) >
<!ELEMENT cmp:Status (#PCDATA) >
<!ELEMENT dateOfIssue (#PCDATA) >
<!ELEMENT locationCode (#PCDATA) >
<!ELEMENT locationName (#PCDATA) >
<!ELEMENT bookingNumber (#PCDATA) >
<!ELEMENT documentCreatorIdentifier (#PCDATA) >
<!ELEMENT documentNumber (#PCDATA) >
<!ELEMENT documentVersion (#PCDATA) >
<!ELEMENT c_GeneralInformationType (#PCDATA) >
<!ELEMENT c_GeneralInformationValue (#PCDATA) >
<!ELEMENT c_GeneralInformationQualifier (#PCDATA) >
<!ELEMENT countryCode (#PCDATA) >
<!ELEMENT countryName (#PCDATA) >
<!ELEMENT value (#PCDATA) >
<!ELEMENT currencyCode (#PCDATA) >
<!ELEMENT adValorem (#PCDATA) >
<!ELEMENT toOrder (#PCDATA) >
<!ELEMENT incotermsCode (#PCDATA) >
<!ELEMENT line (#PCDATA) >
<!ELEMENT organizationName (#PCDATA) >
<!ELEMENT organizationReference (#PCDATA) >
<!ELEMENT organizationReferenceType (#PCDATA) >
<!ELEMENT stateOrProvinceCode (#PCDATA) >
<!ELEMENT stateOrProvinceName (#PCDATA) >
<!ELEMENT postalCode (#PCDATA) >
<!ELEMENT personName (#PCDATA) >
<!ELEMENT departmentName (#PCDATA) >
<!ELEMENT telephoneNumber (#PCDATA) >
<!ELEMENT faxNumber (#PCDATA) >
<!ELEMENT e-MailAddress (#PCDATA) >
<!ELEMENT termsAndConditionsReference (#PCDATA) >
<!ELEMENT clause (#PCDATA) >
<!ELEMENT transportService (#PCDATA) >
<!ELEMENT vesselName (#PCDATA) >
<!ELEMENT voyageNumber (#PCDATA) >
<!ELEMENT departureDate (#PCDATA) >
<!ELEMENT flightNumber (#PCDATA) >
<!ELEMENT locomotiveNumber (#PCDATA) >
<!ELEMENT railCarNumber (#PCDATA) >
<!ELEMENT licencePlateIdentification (#PCDATA) >
<!ELEMENT contractAndCarriageConditionCode (#PCDATA) >
<!ELEMENT serviceRequirementCode (#PCDATA) >
<!ELEMENT numberOfContainersOrPackages (#PCDATA) >
<!ELEMENT typeOfContainerOrPackage (#PCDATA) >
<!ELEMENT commodityCode (#PCDATA) >
<!ELEMENT weightUnitCode (#PCDATA) >
<!ELEMENT volumeUnitCode (#PCDATA) >
<!ELEMENT heightValue (#PCDATA) >
<!ELEMENT widthValue (#PCDATA) >
<!ELEMENT lengthValue (#PCDATA) >
<!ELEMENT dimensionUnitCode (#PCDATA) >
<!ELEMENT numberOfPackages (#PCDATA) >
<!ELEMENT typeOfPackage (#PCDATA) >
<!ELEMENT marksAndNumbers (#PCDATA) >
<!ELEMENT containerIdentifier (#PCDATA) >
<!ELEMENT containerDescription (#PCDATA) >
<!ELEMENT containerGroupTypeCode (#PCDATA) >
<!ELEMENT detailedContainerTypeCode (#PCDATA) >
<!ELEMENT containerHeightAndWidthCode (#PCDATA) >
<!ELEMENT containerLengthCode (#PCDATA) >
<!ELEMENT seal (#PCDATA) >
<!ELEMENT fumigated (#PCDATA) >
<!ELEMENT liveReefer (#PCDATA) >
<!ELEMENT productName (#PCDATA) >
<!ELEMENT productIdentification (#PCDATA) >
<!ELEMENT c_ProductIdentifierType (#PCDATA) >
<!ELEMENT c_ProductIdentifierValue (#PCDATA) >
<!ELEMENT c_ProductIdentifierQualifier (#PCDATA) >
<!ELEMENT c_ProductCharacteristicType (#PCDATA) >
<!ELEMENT c_ProductCharacteristicValue (#PCDATA) >
<!ELEMENT c_ProductCharacteristicQualifier (#PCDATA) >
<!ELEMENT prepaidOrCollect (#PCDATA) >
<!ATTLIST Header 
 xmlns:cmp CDATA #FIXED
" http://www.bolero.net/io/xmlns/header/1.0" > 
<!-- End of DTD Shipping Instructions -->
